.nav-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
    background-color: #092236;
    font-family: 'Poppins', sans-serif;
    color: rgb(241, 255, 255);

}
.nav-contain a{
    color: rgb(241, 255, 255);

}
.left-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.title-gradient{
    font-weight: 800;
    font-size: 2.5rem;
    color: #FFF6E6;
  background-image: linear-gradient(30deg, #fff8ec 28%, #3b75cc 100%);
  line-height: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.right-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
    
}

.body-intro {
    padding: 4rem 4rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 255, 247);
    display: flex;
    flex-direction: row;
}

.intro-left{
    display: flex;
    padding: 5rem;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: left;

}
.intro-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intro-links{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.submit-button{
    padding: 1rem 2rem;
    background-color: rgb(52, 77, 107);
    color: rgb(248, 255, 247);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.intro-right{
    flex: 1;
}
.helper-image{
    width: 100%;
}



/* WORK ORDER FORM  */
.form-page-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
   background-color: #fcfeff;
}
.form-contain {
    padding: 4rem 4rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 62, 70);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* From https://css.glass */
background: rgba(90, 112, 131, 0.28);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.73);
}
.form-top{
    display: flex;
    flex-direction: column;
    align-items: start;
}   
.form-top span{
    font-size: 2rem;
    font-weight: 800;
}
.form-info-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
}
.form-info-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    
}
.form-info-left span{
    font-weight: 600;
}
.form-info-left select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 75%;
}
.form-info-left textarea{
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: none;
}
.form-info-right span{
    font-weight: 600;
}
.form-info-type{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
  
}
.form-info-description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    ;
}
.form-info-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}
.form-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    span {
        font-weight: 600;
    }
}
.form-contact-bottom{
    display: flex;
    flex-direction: row;
    gap: 1rem;        
    justify-content: space-between;
}
.form-name{
    align-items: start;
    display: flex;
    flex-direction: column;

    p{
        font-size: .8rem;
        color: rgb(119, 124, 128);
    }

    input{
        border-radius: 5px;
        border: none;
        padding: 10px;
        width: 100px;
        font-family: 'Poppins', sans-serif;
    }
}